<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="qa.Listeners"/>
</listeners>

  <test name="Generating Auto Insurance Quote">
    <classes>
      <class name="qa.HomePage"/>
          </classes>
      </test>
      
    
</suite> <!-- Suite -->
